<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.zgora.pl.raspberry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme"
        tools:ignore="AllowBackup, GoogleAppIndexingWarning">

        <activity
            android:name=".ui.dashboard.DashboardActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.configuration.list.ConfigurationListActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.configuration.manage.edit.EditConfigurationActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.video.VideoStreamActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.configuration.detail.ConfigurationDetailsActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".ui.configuration.manage.add.AddConfigurationActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>