<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="uz.zgora.pl.raspberry">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme"
        tools:ignore="AllowBackup, GoogleAppIndexingWarning">

        <activity android:name="uz.zgora.pl.raspberry.ui.connection.ConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.dashboard.DashboardActivity" />
        <activity android:name=".ui.configuration.list.ConfigurationListActivity" />
        <activity android:name=".ui.configuration.manage.ConfigurationActivity" />
        <activity android:name=".ui.video.VideoStreamActivity" />

    </application>

</manifest>